<p>footer works!</p>
<div>
    <footer class="footer">
  
      <!-- Inicio Productos -->
    <div id="producto">
      <ul>
          <h4>Equipos</h4>
          
          <li>
              <p>Terason</p>
          </li>
          <li>
              <p>Chison</p>
          </li>
        </ul>
    </div>
  <!-- Fin Productos -->
  
  <!-- Inicia Servicios -->
    <div id="servicios">
      <h4>Servicios</h4>
     
      <ul>
        <li>
          <p>Mantenimento Preventivo</p>
        </li>
        <li>
          <p>Mantenimento Correctivo</p>
        </li>
        <li>
          <p>Servicios de TI</p>
        </li>
        <li>
          <p>Servicio de sanitizacion</p>
        </li>
      </ul>
    </div>
  <!-- Termina Servicios -->
    
  <!-- Empieza Contacto -->
    <div id="contacto">
      <h4>Contacto</h4>
          
      <ul>
          <li>
              <p>614 427 63 36</p>
          </li>
          <li>
              <p>info onamedical.com</p>
          </li>
          <li>
              <p>Sugerencias y comentarios</p>
          </li>
        </ul>
    </div>
  <!-- Termina contacto -->
    
          <!-- Redes sociales -->
         <!--  <div id="redesSociales">
              <ul class="iconosRedesSociales">
                <li class="icon-elem">
                  <a href="https://www.facebook.com/OnaMedicalimagenologia/?locale=es_LA" class="icono"></a>
                  <ion-icon name="logo-facebook"></ion-icon>
                </li>
                <li class="icon-elem">
                  <a href="https://www.instagram.com/ona.medical/?hl=es" class="icono"></a>
                  <ion-icon name="logo-instagram"></ion-icon>
                </li>
                <li class="icon-elem">
                  <a href="https://mx.linkedin.com/company/on%C3%A1-medical" class="icono"></a>
                  <ion-icon name="logo-linkedin"></ion-icon>
                </li>
                <li class="icon-elem">
                  <a href=" https://wa.me/5216144276336" class="icono"></a>
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </li>
                <li class="icon-elem">
                  <a href="mailto:info.onamedicalcuu@gmail.com" class="icono"></a>
                  <ion-icon name="mail-outline"></ion-icon>
                </li>
              </ul>
            </div> -->
      <!-- Terminan redes sociales -->
  
  <!-- Clase para que no se suban la cosas -->
  <div class="clearfix"></div>
  
  <!-- Inicia politicas de seguridad -->
    <div id="politicas">
      <h3>Oná Medical © 2024</h3>
      <h3>|</h3>
      <h3 class="accesoCorporativo">Acceso Corporativo</h3>
    </div>