
<div id="info">
    <h1>MISION Y VALORES</h1>
    <br>
    <P>En Oná Medical, creemos que cada equipo, cada servicio y cada diagnóstico cuentan una historia. Desde el principio, nos hemos dedicado a escribir una historia de confianza y excelencia junto a nuestros clientes.</P>

    <P><b>Excelencia y especialización:</b> Todo comenzó con un simple propósito: ser los mejores en lo que hacemos. Por eso, nos hemos rodeado de expertos que no solo entienden la tecnología médica, sino que la dominan. Cada día trabajamos para que tus equipos estén a la altura de tus necesidades y las de tus pacientes.</P>
    <P><b>Cercanía y compromiso:</b> Entendemos que cada médico tiene su propia visión de cómo debe funcionar su consulta o clínica. Nuestra historia está hecha de encuentros personales, de escuchar con atención, de entender tus retos y celebrar tus logros, ayudándote a ofrecer diagnósticos de calidad.</P>
    <P><b>Honestidad y respeto:</b> Nos mueve la sinceridad. Desde nuestras primeras conversaciones hasta el mantenimiento de tus equipos, te ofrecemos transparencia y respeto porque sabemos lo importante que es confiar en tus herramientas de trabajo.</P>
	<br>
  <hr style="border-color: #3b9f9c;">
  <br>
    <h2>Misión</h2>
    <P>Brindar soluciones de alta calidad en equipos médicos y servicios especializados, con un enfoque en la atención cercana y personalizada que garantice la confianza y satisfacción de nuestros clientes. Consolidándonos como aliados en la actualización tecnológica del sector salud, contribuyendo a que los pacientes accedan a diagnósticos más precisos y servicios médicos de excelencia.</P><br>
    <hr style="border-color: #3b9f9c;"><br>
    <h2>Visión</h2>
    <P>Ser reconocidos como un referente en el ámbito médico, distinguidos por ofrecer servicios de excelencia y soluciones tecnológicas innovadoras que impulsen diagnósticos precisos y el desarrollo de la salud en México.</P>

    <P>Nuestra historia es la tuya: una búsqueda constante por ofrecer lo mejor, por construir relaciones de confianza y por ser el aliado que siempre está ahí cuando más lo necesitas. En cada ultrasonido que entregamos, en cada equipo que mantenemos, y en cada solución tecnológica que implementamos, nuestra meta es simple: estar a tu lado para que juntos hagamos historia.</P>
</div>

<div class="d-grid gap-2 rounded-3">
    <button class="btn btn-custom" type="button"><a routerLink="contacto">¡Contactanos ahora!</a></button>
    
  </div>
