/* Inicio de equipos terason */
.inicio {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    gap: 20px;

}

.btn-custom{
    background-color: #3b9f9c;
    color: #fff;
    text-decoration: none;
}
.btn a{
    text-decoration: none;
    color: #fff;
}

#terason img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.inicio p {
    font-size: 18px;
    max-width: 600px;
    
}

/* Equipo terason 3200 */
#terason3200{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
/*     border: 1px solid black; */
}
#terason3200 img {
    width: 450px;
    height: 550px;
    padding: 30px;
    /* border: 1px solid black; */
}

#info {
    width: 800px;
    height: 550px;
    padding: 5px;
    /* border: 1px solid black; */
}

#info h1 {
    font-size: 50px;
    margin-top: 10px;
}

#info h2 {
    font-size: 30px;
}

#info p {
    font-size: 20px;
}

#imgMuestra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1800px;
    height: auto; 
    margin-bottom: 15px;
    padding: 1px;
    gap: 2px;
    /* border: 1px solid black; */
}

#imgMuestra img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}
/* de aqui  */
/* Equipo terason 3300 */
#terason3300{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    padding-bottom: 5rem;
    /* border: 1px solid black; */
}
#terason3300 img {
    width: 500px;
    height: 650px;
    padding: 5rem;
    /* border: 1px solid black; */
}

#terason3300 #info {
    width: 850px;
    height: 900px;
    padding: 10px;
    /* border: 1px solid black; */
}

#info h1 {
    font-size: 50px;
    margin-top: 10px;
}

#info h2 {
    font-size: 30px;
}

#info p {
    font-size: 20px;
}

#imgMuestra3300 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1800px;
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    /* border: 1px solid black; */
}

#imgMuestra3300 img {
    width: 300px;
    height: auto;
    /* border-radius: 5px; */
}

/* Inicio de equipos chison */

.inicioChison {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
/*     border: 1px solid black; */
}

#chison img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.inicioChison p {
    font-size: 18px;
    max-width: 600px;
    
}