<!-- Equipos de ultrasonido terason -->
<div class="inicio">
      
    <div id="terason">
      <img src="\IMG\terason-logo.jpg" alt="">
      <p>No es ningún secreto que Terason ha establecido el estándar para algunas de las imágenes de mejor calidad disponibles en equipos portatiles.</p>
    </div>
</div>

  <!-- Esquipo terason 3200 imagen e información de eqiupo -->
  <div id="terason3200">
    <img src="\IMG\terason3200t1.jpg" alt="terason3200">
    
    <div id="info">
      <h1>uSmart 3200T</h1>
      <!-- <h2>Características adicionales</h2>  -->
      <p>5 años de garantia<br>
      <p>Actualizaciones gratis de por vida<br>
      <p>Entrega inmediata<br>
      <p>Arrendamiento hasta 48 meses


        <!-- Imagenes de muestra -->
   <div id="imgMuestra">
     <img src="\IMG\terason3200t2.jpg" alt="imagen1">
     <img src="\IMG\terason3200t3.jpg" alt="imagen2">
     <img src="\IMG\terason3200t4.png" alt="imagen3">
   </div>
        
        
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usmart3200t">
  Caracteristicas adicionales
</button>

<!-- Modal -->
<div class="modal fade" id="usmart3200t" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">uSmart 3200T Terason</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Características adicionales</h2> 
      <p><b>Modos</b> <br>
        2D (B-Mode), Modo M, Doppler color, Doppler pulsado, Doppler de potencia, Doppler direccional de potencia. Doppler tisular de onda continua, Doppler tisular imagen armónica con SuperHarmonics T</p>
    
      <p><b>Características del sistema</b> <br>
        Pantalla táctil con Smart Gestures TM, LCD de alta resolución retro iluminada de 11.6 "con cristal Gorilla Glass (SSD), Exportación de imagen de fotograma (BMP, JPEG), Exportación dinámica de clips (AVI), DICOM 3.0 (DICOM SR), uConnect ® Capacidad remota, Puerto USB 3.0, Puerto, Ethernet, Bluetooth, Ranura para tarjeta de memoria SD, Ranura para tarjeta inalámbrica y Bluetooth, Toma de auriculares, Cámara incorporada, Tiempo de arranque < 45 segundos, Smart Mark TM. Guía inteligente TM, Puerto Micro HDMI, Batería extraíble y entrada de CC, Cámara incorporada de 5 megapíxeles</p>

      <p><b>Imagen</b> <br>
        visualización de la aguja mejorada (ENV), Teravision II, OmniBeam TM, Profundidad de Resolución Dinámica (DDR ), TeraZoom, Trapezoidal, Tríplex / Dúplex, Pantalla completa, Optimización automática, Realización de haz en 2D, Preajustes específicos de la aplicación, Post procesamiento, TeraScape TM, Grosor Intima-Media (IMT)</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-custom"><a routerLink="contacto" >Mas Informacion</a></button>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

  
  <br>
  <br>
<hr>
<br>
<!-- Equipo terason 3300 -->
<div id="terason3300">
    <img src="\IMG\terason33001.jpg" alt="terason3300">
    
    <div id="info">
      <h1>uSmart 3300</h1>
      <h2>Características adicionales</h2> 
      <p><b>Modos</b> <br>
        2D (Modo B), Modo M, Modo anatómico, Doppler color, Doppler de onda pulsada, Doppler de potencia, Doppler de potencia direccional, Doppler de onda continua, Doppler tisular, Tejido con Super Harmonics.</p>
    
      <p><b>Características del sistema</b> <br>
        1 TB SSD, Procesador BT 4.0: 2.5 GHz, Intel®CoreTMi7, 8G RAM DDR3, Tarjeta de memoria incorporada, LCD antirreflejo polarizada retro iluminada de 15 ", ángulo de visión ultra extraíble, Batería de iones de litio extraíble, Canales: 256, Rango dinámico: 200 dB, Salida de video: 1024 x 768, Unidad de CD / DVD + RW incorporada, Cámara incorporada, Altavoces duales con subwoofer, 4 puertos USB, Puerto Ethernet, 2 puertos HDMI, Entrada de CC, Toma de auriculares, Toma de micrófono, ECG y puertos auxiliares, Capacidades remotas de uConnect ®Sistema operativo, Windows ® 10.</p>

      <p><b>Imagen</b> <br>
        Resolución inteligente, Imagen mejorada, Visualización de aguja (ENV), TeraVision TM II, OmniBeam TM, Resolución dinámica de profundidad (DDR TM), TeraZoom TM Trapezoide, Color / 2D, Tríplex / Dúplex (Simultánea / no simultánea), Pantalla dividida, Pantalla completa, Optimización automática, Dirección de haz 2D, Presets específicos de la aplicación, TeraScape TM, Post Procesamiento, Espesor Intima-Media (IMT).</p>

        
        <p><b>Flujo de trabajo</b> <br>
            Controles de modo activo prospectivo y captura retrospectiva, Capacidad de Cine de bucle de ajuste de medición avanzada, Herramientas, Informe configurable, Almacenar, imprimir, exportar soportes, JPEG / AVI / BMP / PDF para exportar soportes, DICOM 3.0, DICOM Modalidad de lista de trabajo, DICOM Almacenamiento, DICOM SR.</p>
            

            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usmart3300">
  Caracteristicas adicionales
</button>

<!-- Modal -->
<div class="modal fade" id="usmart3300" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">uSmart 3300        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Modos</b> <br>
          2D (Modo B), Modo M, Modo anatómico, Doppler color, Doppler de onda pulsada, Doppler de potencia, Doppler de potencia direccional, Doppler de onda continua, Doppler tisular, Tejido con Super Harmonics.</p>
      
        <p><b>Características del sistema</b> <br>
          1 TB SSD, Procesador BT 4.0: 2.5 GHz, Intel®CoreTMi7, 8G RAM DDR3, Tarjeta de memoria incorporada, LCD antirreflejo polarizada retro iluminada de 15 ", ángulo de visión ultra extraíble, Batería de iones de litio extraíble, Canales: 256, Rango dinámico: 200 dB, Salida de video: 1024 x 768, Unidad de CD / DVD + RW incorporada, Cámara incorporada, Altavoces duales con subwoofer, 4 puertos USB, Puerto Ethernet, 2 puertos HDMI, Entrada de CC, Toma de auriculares, Toma de micrófono, ECG y puertos auxiliares, Capacidades remotas de uConnect ®Sistema operativo, Windows ® 10.</p>
  
        <p><b>Imagen</b> <br>
          Resolución inteligente, Imagen mejorada, Visualización de aguja (ENV), TeraVision TM II, OmniBeam TM, Resolución dinámica de profundidad (DDR TM), TeraZoom TM Trapezoide, Color / 2D, Tríplex / Dúplex (Simultánea / no simultánea), Pantalla dividida, Pantalla completa, Optimización automática, Dirección de haz 2D, Presets específicos de la aplicación, TeraScape TM, Post Procesamiento, Espesor Intima-Media (IMT).</p>
  
          <p><b>Flujo de trabajo</b> <br>
              Controles de modo activo prospectivo y captura retrospectiva, Capacidad de Cine de bucle de ajuste de medición avanzada, Herramientas, Informe configurable, Almacenar, imprimir, exportar soportes, JPEG / AVI / BMP / PDF para exportar soportes, DICOM 3.0, DICOM Modalidad de lista de trabajo, DICOM Almacenamiento, DICOM SR.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-custom"><a routerLink="contacto" >Mas Informacion</a></button>
      </div>
      <br>
    </div>
  </div>
</div>

    </div>
    
  
 
  