<!-- Equipos de ultrasonido terason -->
<div id="inicio" class="container">
      
    <div id="terason">
      <img src="\IMG\terason-logo.jpg" alt="Logo de Tearson">
      <p>No es ningún secreto que Terason ha establecido el estándar para algunas de las imágenes de mejor calidad disponibles en equipos portátiles.</p>
    </div>
</div>


  <!-- Equipo terason 3200 imagen e información de equipo -->
  <div id="terason3200" class="d-flex flex-column flex-md-row justify-content-around">
    <img class="terason3200-image" src="\IMG\terason3200t2.jpg" >
    
    <div id="info" >
      <h1 class="display-5 w-100">uSmart 3200T</h1>
      <p class= > Identifica fácilmente los nervios para evitar lesiones <br><br>
      Minimizar el riesgo asociado a la canulación <br><br>
      Eliminar intentos fallidos de procedimientos <br><br>
      Visualizar una anatomía difícil debido a diferentes hábitos corporales <br><br>
      Mejorar la precisión general <br><br>
      Reducir la fatiga del personal sanitario permitiendo una ergonomía adecuada</p>

      <button type="button" class="btn btn-custom " data-bs-toggle="modal" data-bs-target="#usmart3200t">
        Características adicionales
      </button>
      
    </div>  
        <!-- Imágenes de muestra -->
  <!-- <div id="imgMuestra" class="container-fluid col-3">
    
    <img src="\IMG\terason3200t3.jpg" alt="imagen2" class="img-fluid col-6">
    -->
        
        <!-- Button trigger modal -->


  <!-- Modal -->
  

</div>
  
<div class="modal fade" id="usmart3200t" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>uSmart 3200T</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Características adicionales</h2>
      <p><b>Modos</b> <br>
        2D (B-Mode), Modo M, Doppler color, Doppler pulsado, Doppler de potencia, Doppler direccional de potencia. Doppler tisular de onda continua, Doppler tisular imagen armónica con SuperHarmonics T</p>
    
      <p><b>Características del sistema</b> <br>
        Pantalla táctil con Smart Gestures TM, LCD de alta resolución retro iluminada de 11.6 "con cristal Gorilla Glass (SSD), Exportación de imagen de fotograma (BMP, JPEG), Exportación dinámica de clips (AVI), DICOM 3.0 (DICOM SR), uConnect ® Capacidad remota, Puerto USB 3.0, Puerto, Ethernet, Bluetooth, Ranura para tarjeta de memoria SD, Ranura para tarjeta inalámbrica y Bluetooth, Toma de auriculares, Cámara incorporada, Tiempo de arranque < 45 segundos, Smart Mark TM. Guía inteligente TM, Puerto Micro HDMI, Batería extraíble y entrada de CC, Cámara incorporada de 5 megapíxeles</p>

      <p><b>Imagen</b> <br>
        visualización de la aguja mejorada (ENV), Teravision II, OmniBeam TM, Profundidad de Resolución Dinámica (DDR ), TeraZoom, Trapezoidal, Tríplex / Dúplex, Pantalla completa, Optimización automática, Realización de haz en 2D, Pre ajustes específicos de la aplicación, Post procesamiento, TeraScape TM, Grosor Intima-Media (IMT)</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-custom" routerLink="contacto" data-bs-dismiss="modal">Más Información</button>
      </div>
    </div>
  </div>
</div>
  

<hr>
<br>
<!-- Equipo terason 3300 -->
<div id="terason3300" class="d-flex flex-column flex-md-row justify-content-around">
    <img src="\IMG\terason33001.jpg" alt="terason3300">
    
    <div id="info">
      <h1 class="display-5 w-100">uSmart 3300</h1>
      <p>Mediciones de volumen de flujo fáciles, precisas y rápidas
        Smart MarkTM mayor precisión de la aguja para procedimientos fuera de plano.
        <br><br>
        La visualización mejorada de agujas (ENV) de segunda generación reduce el tiempo de
        procedimiento, mejora la precisión y disminuye las posibles complicaciones

          <br><br>
        Portabilidad Grab-n-Go con características y funcionalidades avanzadas.
        <br><br>
        Smart GesturesTM reduce el tiempo del procedimiento al proporcionar controles de
        respuestas intuitivos e inmediatos</p>


            <!-- Button trigger modal -->
<button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#usmart3300">
  Características adicionales
</button>

<!-- Modal -->
<div class="modal fade" id="usmart3300" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>uSmart 3300</b>        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Características adicionales</h2> 
      <p><b>Modos</b> <br>
        2D (Modo B), Modo M, Modo anatómico, Doppler color, Doppler de onda pulsada, Doppler de potencia, Doppler de potencia direccional, Doppler de onda continua, Doppler tisular, Tejido con Super Harmonics.</p>
    
      <p><b>Características del sistema</b> <br>
        1 TB SSD, Procesador BT 4.0: 2.5 GHz, Intel®CoreTMi7, 8G RAM DDR3, Tarjeta de memoria incorporada, LCD antireflejo polarizada retro iluminada de 15 ", ángulo de visión ultra extraíble, Batería de iones de litio extraíble, Canales: 256, Rango dinámico: 200 dB, Salida de video: 1024 x 768, Unidad de CD / DVD + RW incorporada, Cámara incorporada, Altavoces duales con subwoofer, 4 puertos USB, Puerto Ethernet, 2 puertos HDMI, Entrada de CC, Toma de auriculares, Toma de micrófono, ECG y puertos auxiliares, Capacidades remotas de uConnect ®Sistema operativo, Windows ® 10.</p>

      <p><b>Imagen</b> <br>
        Resolución inteligente, Imagen mejorada, Visualización de aguja (ENV), TeraVision TM II, OmniBeam TM, Resolución dinámica de profundidad (DDR TM), TeraZoom TM Trapezoide, Color / 2D, Tríplex / Dúplex (Simultánea / no simultánea), Pantalla dividida, Pantalla completa, Optimización automática, Dirección de haz 2D, Presets específicos de la aplicación, TeraScape TM, Post Procesamiento, Espesor Intima-Media (IMT).</p>

        
        <p><b>Flujo de trabajo</b> <br>
            Controles de modo activo prospectivo y captura retrospectiva, Capacidad de Cine de bucle de ajuste de medición avanzada, Herramientas, Informe configurable, Almacenar, imprimir, exportar soportes, JPEG / AVI / BMP / PDF para exportar soportes, DICOM 3.0, DICOM Modalidad de lista de trabajo, DICOM Almacenamiento, DICOM SR.</p>
                  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-custom"><a routerLink="contacto" >Mas Información</a></button> -->
        <button type="button" class="btn btn-custom" routerLink="contacto" data-bs-dismiss="modal">Más Información</button>

      </div>
      <br>
    </div>
  </div>
</div>

    </div>
    <br>
    <hr>
    <br>
    


    <!-- Equipos de ultrasonido chison -->
<!-- <div id="inicioChison">
      
  <div id="chison">
    <img src="\IMG\chison-Logo.png" alt="">
    <p>Sistema de ultrasonido premium enfocado en mejorar la eficiencia y la precisión del diagnostico en todas las aplicaciones.</p>
  </div>
</div> -->
<!-- Equipo chison Sonoeye P2 -->
<!-- <div id="chisonSonoeyeP2">
  <img src="\IMG\chisonSonoeyeP2.png" alt="sonoEyeP2">
  
  <div id="info">
    <h1>SonoEye P2</h1>
    <p>Proporciona atención médica de alta calidad al paciente en cualquier lugar. Con un diseño adaptable que va desde un dispositivo portátil hasta un teléfono móvil, aumenta la portabilidad y permite trabajar en cualquier momento y en cualquier lugar.</p>
    <p>Compatible con dispositivos Android</p>
    <p>Resistente al agua</p>
    <p>2 años de garantía</p>
    <p>Entrega inmediata</p>
    <p>Arrendamiento hasta 24 meses</p> -->

                <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sonoEyeP2">
  Caracteristicas adicionales
</button>


<div class="modal fade" id="sonoEyeP2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>SonoEye P2</b>        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Características adicionales</h2> 
      <p><b>Modos</b> <br>
        B Mode, M Mode, Color Mode, PW Mode, CPA Mode, DPD Mode 2B Mode.</p>
    
      <p><b>Caracteristicas del sistema</b> <br>
        Auto IMT, IMT en tiempo real, SonoNeedle, PW AutoTrace, SuperNeedle, software pulmonar profesional, software de guía de aguja, dirección 2D, SonoCompare, SonoColor, Auto HR, Doppler inteligente, Trapezoid, SonoRemote, SonoBinding, QR Scan, HIPPA, Servicio remoto, tecnologia AIO para optimizacion de imagenes, DICOM frecuencia de 7.0 - 12.0MHz, profundidad de escaneo de 1.0 - 14.8 cm, membrana de 40mm, peso 130g.</p>

      <p><b>Caracteristicas del equipo</b> <br>
        Mas ligero que un smartphone, conexion flexible con laptops, tablets y smartphones, resistencia al agua con el estandar IP67 que soporta un metro bajo el agua durante 30 minutos ideal para desinfeccion por inmersión, todas las funciones al alcance del dedo pulgar, .</p>

        
        <p><b>Aplicaciones</b> <br>
            Vascular, MSK, Nerve, Lung, Small Parts, SAT, EM.</p>
                  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-custom"><a routerLink="contacto" >Mas Informacion</a></button>
      </div>
      <br>
    </div>
  </div>
</div>
 -->
<!-- Equipo chison Cbit 6 -->
<!-- <div id="chisonCbit6">
  <img src="\IMG\chisonCbit6.png" alt="chisonCbit6">
  
  <div id="info">
    <h1>Cbit 6</h1>
    <p>Smart technology, smarter investments</p>
    <p>Calidad de imagen de alta definición y características inteligentes para lograr un diagnostico rápido y confiable </p>
    <p>Alto rendimiento en cardiología, ginecología y radiología</p>
    <p>Enganche desde el 10% </p>
    <p>Arrendamiento hasta 48 meses</p>
    <p>2 años de garantia</p> -->

                <!-- Button trigger modal -->

                
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="chisonCbit6"> 
  Caracteristicas adicionales
</button>


<div class="modal fade" id="chisonCbit6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Cbit 6</b>        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Características adicionales</h2>
      <p><b>Modos</b> <br>
        B, 2B, 4B, B/M, B/BC, CFM, PW, Power Doppler/Directional PD, Instant Triplex, Duplex, Quadplex, Trapezoidal, Chroma B&M&PW, Full Screen</p>
    
      <p><b>Caracteristicas del sistema</b> <br>
        Elastografia, Rastreo y medición automática de PW en tiempo real, Super Image module: FHI Multiple Compound Imaging SRA (Algoritmo de reducción de moteado) AIO, Q-Image (optimización inteligente de imágenes) X-contrast Q-beam, Q-Flow, Paquetes de software de medición y cálculo: General OB&GYN Cardiac 2D Steer, Cardiovascular: CW, TDI, IMT</p>

      <p><b>Caracteristicas del equipo</b> <br>
        Monitor LED de 19', touch panel LED de 10.1' 4 puertos de transductor activos, 500G integrated hard disk, DVD-R/W, 6 puertos USB, Modulo 4D, Modulo CW, </p>

        
        <p><b>Aplicaciones</b> <br>
            Abdominal, fetal, partes pequeñas, pediátrico, vascular, musculoesqueletico cardiaco</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-custom"><a routerLink="contacto" >Mas Informacion</a></button>
      </div>
      <br>
    </div>
  </div>
</div>

 -->