
.container {
    margin: 60px auto;
    padding-bottom: 2rem;
    /* width: 400px; */
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container img{

    width: 25%;
    height: 110%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-in-out .2s;
}

.container img:hover{
    width: 40%;
}