



.flex-container {
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    padding-bottom: 6rem;
    /* width: 400px; */
    height: 600px;
    justify-content: center;
    gap: 15px;
    border-radius: 2rem;
}

.flex-container img{
    width: 30%;
    height: 120%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-in-out .2s;
}


.flex-container img:hover{
    width: 40%;
}

@media  (max-width: 800px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
  }
