.navbar a{
    color: #000;
}

.navbar-custom {
    background-color: #7bdfdcc9;
}

 
nav div li a:hover{
    color: #000;
    font-weight: bolder;
    margin: auto;
    transition:  0.3 ease-in-out,  0.3 ease-in-out;
}
