.container{
    padding-bottom: 10rem;
}
.btn-custom{
    background-color: #3b9f9c;
    color: #fff;
    font-size: larger;
    width: 101%;
    border: 5rem 5rem;
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.btn-custom:hover{
    color: #fff;
}
.btn-custom::after{
    content: "";
  background: #000305; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.btn-custom:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}