
    <!-- Servicios TI -->
    
<div class="card">
    
        <div id="ti"class="servicioTi">
            <img src="\IMG\serviciosTi.png" alt="ti">
            <div id="info">
                <h1>Servicios de TI</h1> 
                <h3>"Especializados en el sector médico"</h3> 
                <p>"En Oná Medical, ofrecemos servicios de TI personalizados para el sector médico, ayudándole a integrar tecnología avanzada, proteger datos sensibles y garantizar que sus sistemas trabajen con la misma precisión que usted. Optimice su práctica médica con soluciones tecnológicas confiables y eficientes. ¡Contáctenos para más información!"</p>
                <div>
                    <button class="btn btn-custom" type="button"><a routerLink="contacto">¡Contactanos ahora!</a></button>
                </div>
            </div>
        </div>
        
        <hr style="border-color: #3b9f9c;">
        <br>
    <!-- Servicios Preventivos -->
    <div id="preventivo" class="preventivo">
        <img src="\IMG\servicioPreventivo.png" >
        <div id="info">
        <h1>Mantenimiento preventivo</h1> 
           <h3>"Prevención que prolonga la vida útil de sus equipos."</h3> 
            <p>En Oná Medical, ofrecemos un mantenimiento preventivo que asegura el óptimo rendimiento de sus equipos de ultrasonido. Nuestro equipo de ingenieros especializados realiza inspecciones detalladas y limpieza técnica para prevenir fallos y evitar interrupciones en su práctica médica. Cuide su inversión y garantice diagnósticos precisos para sus pacientes.</p>
            <div>
                <button class="btn btn-custom" type="button"><a routerLink="contacto">¡Contactanos ahora!</a></button>
            </div>
            
        </div>

    </div>

	
  <hr style="border-color: #3b9f9c;">
  
    <!-- Servicios Correctivos -->
    <div id="correctivo" class="correctivo">
        <img src="\IMG\servicioCorrectivo.png" alt="correctivo">
        <div id="info">
        <h1>Mantenimiento correctivo</h1> 
           <h3>"Reparaciones efectivas que restablecen la confianza en su equipo."</h3> 
            <p>Cuando sus equipos presentan fallos, estamos aquí para ayudarle. En Oná Medical, contamos con un servicio de mantenimiento correctivo ágil y especializado, restauramos su equipo para que usted continúe brindando un servicio de calidad.</p>
            <div>
                <button class="btn btn-custom" type="button"><a routerLink="contacto">¡Contactanos ahora!</a></button>
            </div>  
        </div>  
    </div>

</div>
