<section class="container-fluid" id="numeros-local">
    <div class="w-75  text-center " id="mision">
      <p class="text-primary fs-5 "><img src="/IMG/Mision.png" alt="" width="400px" class="img-fluid align-items-center"></p>
      <p class="fs-2 text-center">Mision </p>
      <p class="justify-content-center text-wrap d-none d-lg-block">Posicionarnos como <span style="color: #3b9f9c;">Empresa líder</span> en la comercialización de productos y servicios médicos de alta especialidad colaborando directamente con las marcas mas reconocidas del mercado.</p>
    </div>
    <div class="w-75 text-center" id="vision">
      <p class="text-primary fs-5"><img src="/IMG/vision.png" alt="" width="400px" class="img-fluid"></p>
      <p class="fs-2 text-center">Vision</p>
      <p class="justify-content-center text-wrap d-none d-lg-block">Ser parte de la actualización tecnológica en los servicios de salud para que los mexicanos tengamos acceso a estudios de <span style="color: #3b9f9c;">Diagnostico de Calidad.</span></p>
    </div>
    <div class="w-75 text-center " id="valores">
      <p class="text-primary fs-5"><img src="/IMG/Valores.png" alt="" width="400px" class="img-fluid"></p>
      <p class="fs-2 text-center">Valores</p>
      <p class="justify-content-center text-wrap d-none d-lg-block">Honestidad, responsabilidad, lealtad,compromiso, competitividad,  <span style="color: #3b9f9c;">Justicia y Respeto</span> </p>
    </div>
  </section>
  <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
    <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>