
/* Formulario de contacto */
form {
    /* width: 400px; 
    /* height: 300px; */
    width: 70%; 
    padding: 15px;
    background-color: rgb(185, 185, 185);
    margin: 20px auto ;
    border-radius: 8px;
    
}
#mapa div{
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
}



.btn-custom{
    background-color: #3b9f9c;
    color: #fff;
}

.container-fluid-1{
    margin: 25px;
}
iframe {
    width: 70%;
    max-height: 500px;
  }

@media screen and (max-width: 600px){
    .container-fluid-1{
        flex-wrap: wrap;
        flex-direction: column;
        width: 120%;
    }
    iframe {
        width: 90%;
        max-height: 500px;
      }
    
}