<div class="container mt-5">
    <div id="titulo-formulario" class="text-center mb-4">
      <div><img src="./IMG/slider3.png" alt="contacto" class="img-fluid"></div>
    </div>
      <h2 class="mb-4">Contacto</h2>
      <form>
          <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre">
          </div>
          <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com">
          </div>
          <div class="mb-3">
              <label for="mensaje" class="form-label">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="3" placeholder="Escriba su mensaje aquí"></textarea>
          </div>
              <div class="mb-3">
                <label class="form-label" for="especialidad">Especialidades</label>
                <select class="form-select" id="especialidad" name="especialida">
                    <option selected>Especialidades:</option>
                    <option value="anestologia">Anestesiología</option>
                    <option value="angiologia">Angiología </option>
                    <option value="cardiologia">Cardiología </option>
                    <option value="gine">Ginecología y obstetricia</option>
                </select>       
            </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
  </div>