
/* Formulario de contacto */
form {
    width: 75%;
    height: 75%;
    padding: 20px;
    background-color: rgb(185, 185, 185);

    margin: 20px auto ;
    border-radius: 8px;
    
}


.btn-custom{
    background-color: #3b9f9c;
    color: #fff;
}

.container-fluid-1{
    margin: 25px;
}

@media screen and (max-width: 600px){
    .container-fluid-1{
        flex-wrap: wrap;
        flex-direction: column;
        width: 120%;
    }
}